<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.jessicafuentesc.666.help-i"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Help-I</name>

    <description>
        Esta aplicaciòn ha sido diseñada con el objetivo de brindar una ayuda básica en primeros auxilios y así mismo un reporte de la emergencia de forma inmediata para poder ser atendido por profesionales.  
    </description>

    <author href="https://build.phonegap.com" email="jessicafuentesc.666@gmail.com">
        Jessica Fuentes Cuevas
    </author>

</widget>